<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guzman.rotem.tamalsocialbank1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".LogoActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".donor.MainDonorsActivity"
            android:label="שלום תורם יקר"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.DonateMoneyActivity"
            android:label="תרומה כספית"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.LeaveDetailsActivity"
            android:label="פרטים"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExplainActivity"
            android:label="איך זה עובד"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.DonateChooseBarcodeOrListActivity"
            android:label="בחירת תרומה"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.ScanBarcodeActivity"
            android:label="סריקת ברקוד"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.PickProductsFromList"
            android:label="בחירת מזון"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.ChoosePickup"
            android:label="משלוח / מסירה"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.BookDelivery"
            android:label="ביצוע תרומה"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.NearbyDropOffPoint"
            android:label="נקודות מסירה קרובות"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.DropOffConfirmation"
            android:label="אישור מסירה"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donor.DropOffPoints"
            android:label="נקודות מסירה"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".donor.BuyingPoints"
            android:label="נקודות קניה"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mother.MotherMainActivity"
            android:label="שלום הורה יקר"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mother.MotherStatusActivity"
            android:label="סטטוס הזמנה"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.RegistrationChooseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".stockKeeper.StorageMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".stockKeeper.StoraeDeliveryGuysListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".stockKeeper.StorageManageInventoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockKeeper.StorageManageDeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockKeeper.StorageDonationFullDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockKeeper.StorageManageRequestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockKeeper.StorageManageDropOffPointsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockKeeper.StorageAddNewDropOffPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.RegestrationMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminUsersMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminDeliveryGuysActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".admin.AdminDeliveryGuysEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminStockKeeperActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".admin.AdminStockKeeperEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminMotherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminMotherEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clerk.ClerkMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockKeeper.StorageRequestsNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockKeeper.StorageRequestsInProccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminProductEditActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".donor.StoriesActivity" />
        <activity android:name=".registration.RegistrationWebViewActivity" />
        <activity
            android:name=".deliveryGuy.DeliveryGuyDestionations"
            android:label="@string/title_activity_delivery_guy_destionations"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".stockKeeper.StorageDonationsActivity"
            android:label="@string/title_activity_storage_donations"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>