<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guzman.rotem.tamalsocialbank1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:name=".LogoActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".donor.MainDonorsActivity"
            android:label="שלום תורם יקר" />
        <activity
            android:name=".donor.DonateMoneyActivity"
            android:label="תרומה כספית" />
        <activity
            android:name=".donor.LeaveDetailsActivity"
            android:label="פרטים" />
        <activity
            android:name=".ExplainActivity"
            android:label="איך זה עובד" />
        <activity
            android:name=".donor.DonateChooseBarcodeOrListActivity"
            android:label="בחירת תרומה" />
        <activity
            android:name=".donor.ScanBarcodeActivity"
            android:label="סריקת ברקוד" />
        <activity
            android:name=".donor.PickProductsFromList"
            android:label="בחירת מזון" />
        <activity
            android:name=".donor.ChoosePickup"
            android:label="משלוח / מסירה" />
        <activity
            android:name=".donor.BookDelivery"
            android:label="ביצוע תרומה" />
        <activity
            android:name=".donor.NearbyDropOffPoint"
            android:label="נקודות מסירה קרובות" />
        <activity
            android:name=".donor.DropOffConfirmation"
            android:label="אישור מסירה" />
        <activity
            android:name=".donor.DropOffPoints"
            android:label="נקודות מסירה" />
        <activity
            android:name=".donor.BuyingPoints"
            android:label="נקודות קניה" />
        <activity
            android:name=".mother.MotherMainActivity"
            android:label="שלום הורה יקר" />
        <activity
            android:name=".mother.MotherStatusActivity"
            android:label="סטטוס הזמנה" />
        <activity android:name=".registration.RegistrationChooseActivity">
        </activity>
        <activity android:name=".stockKeeper.StorageMainActivity" />
        <activity android:name=".stockKeeper.StoraeDeliveryGuysListActivity" />
        <activity android:name=".stockKeeper.StorageManageInventoryActivity" />
        <activity android:name=".stockKeeper.StorageManageDeliveryActivity" />
        <activity android:name=".stockKeeper.StorageManageDonationsActivity" />
        <activity android:name=".stockKeeper.StorageDonationFullDetailsActivity" />
        <activity android:name=".stockKeeper.StorageManageRequestsActivity" />
        <activity android:name=".stockKeeper.StorageManageDropOffPointsActivity" />
        <activity android:name=".stockKeeper.StorageAddNewDropOffPointActivity" />
        <activity android:name=".registration.RegestrationMainActivity" />
        <activity android:name=".admin.AdminMainActivity" />
        <activity android:name=".admin.AdminUsersMainActivity" />
        <activity android:name=".admin.AdminDeliveryGuysActivity" />
        <activity android:name=".admin.AdminDeliveryGuysEditActivity" />
        <activity android:name=".admin.AdminStockKeeperActivity" />
        <activity android:name=".admin.AdminStockKeeperEditActivity" />
        <activity android:name=".admin.AdminMotherActivity" />
        <activity android:name=".admin.AdminMotherEditActivity" />
        <activity android:name=".clerk.ClerkMainActivity" />
        <activity android:name=".stockKeeper.StorageRequestsNewActivity" />
        <activity android:name=".stockKeeper.StorageRequestsInProccessActivity" />
        <activity android:name=".admin.AdminProductsActivity"></activity>
        <activity android:name=".admin.AdminProductEditActivity" />
        <activity android:name=".registration.RegistrationWebViewActivity" />
        <activity
            android:name=".deliveryGuy.DeliveryGuyDestionations"
            android:label="@string/title_activity_delivery_guy_destionations"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>